section(class='about')
  article(id='about')
    .about-header
      h2 {{ site.data.settings.about-title }}
    .about-body
      .about-img
        img(src='http://lorempixel.com/600/480/sports/1')
      .about-copy
        .about-copy-header
          h3 {{ site.data.settings.about-sub-title1 }}
        p {{ site.data.settings.about-copy1 }}
        .about-copy-header
          h4 {{ site.data.settings.about-sub-title2 }}
        p {{ site.data.settings.about-copy2 }}
        .about-copy-footer
          a(href='#contact') Click here, to follow us.
