
<section class="about">
  <article id="about">
    <div class="about-header">
      <h2>About Us</h2>
    </div>
    <div class="about-body">
      <div class="about-img"><img src="http://lorempixel.com/600/480/sports/1"/></div>
      <div class="about-copy">
        <div class="about-copy-header">
          <h3>Who we are</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque impedit vitae repellat maxime quod libero, dolore debitis eius voluptatem, a id nostrum itaque, unde. Earum rem cumque voluptatem doloribus.</p>
        <div class="about-copy-header">
          <h4>Our vision</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum commodi molestiae est non sint, cupiditate incidunt ea beatae voluptate, nam officiis voluptatibus ipsa quod error vero necessitatibus expedita eius facere.</p>
        <div class="about-copy-footer"><a href="#contact">Click here, to follow us.</a></div>
      </div>
    </div>
  </article>
</section>