section(class='about')
  article(id='about')
    .about-header
      h2 About Us
    .about-body
      .about-img
        img(src='http://lorempixel.com/600/480/sports/1')
      .about-copy
        .about-copy-header
          h3 Who we are
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque impedit vitae repellat maxime quod libero, dolore debitis eius voluptatem, a id nostrum itaque, unde. Earum rem cumque voluptatem doloribus.
        .about-copy-header
          h4 Our vision
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum commodi molestiae est non sint, cupiditate incidunt ea beatae voluptate, nam officiis voluptatibus ipsa quod error vero necessitatibus expedita eius facere.
        .about-copy-footer
          a(href='#contact') Click here, to follow us.
