
<section class="faq">
  <article id="faq">
    <div class="faq-header">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="faq-body">
      <div class="question-wrap">
        <input type="checkbox" id="question1" name="q" class="questions"/><i></i>
        <label for="question1" class="question">What's is your first escape from the man sdfasd adsfas adsfas?</label>
        <div class="answers">
          <p>At the age of 23 with a bag and blank cheque of $6000 bucks and a one way ticket to a foreign country.</p>
        </div>
      </div>
      <div class="question-wrap">
        <input type="checkbox" id="question2" name="q" class="questions"/><i></i>
        <label for="question2" class="question">What's is your first escape from the man asdfsan as sda fas sadf asdf sd sadf asdf  sadf asdf sdaf asdf?</label>
        <div class="answers">
          <p>At the age of 23 with a bag and blank cheque of $6000 bucks and a one way ticket to a foreign country.</p>
        </div>
      </div>
      <div class="question-wrap">
        <input type="checkbox" id="question3" name="q" class="questions"/><i></i>
        <label for="question3" class="question">What's is your first escape from the man?</label>
        <div class="answers">
          <p>At the age of 23 with a bag and blank cheque of $6000 bucks and a one way ticket to a foreign country.</p>
        </div>
      </div>
      <div class="question-wrap">
        <input type="checkbox" id="question4" name="q" class="questions"/><i></i>
        <label for="question4" class="question">What's is your first escape from the man?</label>
        <div class="answers">
          <p>At the age of 23 with a bag and blank cheque of $6000 bucks and a one way ticket to a foreign country.</p>
        </div>
      </div>
    </div>
  </article>
</section>