section(class='faq')
  article(id='faq')
    .faq-header
      h2 {{ site.data.settings.faq-title }}
    .faq-body#faq-accordian.
      {% for item in site.data.settings.faq %}
        <div class="faq-child">
          <h3 class="tab accordian" id="tab{{ forloop.index }}" aria-controls="panel{{forloop.index}}" role="tab"> {{ item.question }}</h3>

          <div class="panel" id="panel{{ forloop.index }}" aria-labeledby='tab1' role='tabpanel'>
            <p> {{ item.answer }}</p>
          </div>
        </div>
      {% endfor %}