
<section class="faq">
  <article id="faq">
    <div class="faq-header">
      <h2>{{ site.data.settings.faq-title }}</h2>
    </div>
    <div id="faq-accordian" class="faq-body">
      {% for item in site.data.settings.faq %}
        <div class="faq-child">
          <h3 class="tab accordian" id="tab{{ forloop.index }}" aria-controls="panel{{forloop.index}}" role="tab"> {{ item.question }}</h3>
      
          <div class="panel" id="panel{{ forloop.index }}" aria-labeledby='tab1' role='tabpanel'>
            <p> {{ item.answer }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</section>