section(class='faq')
  article(id='faq')
    .faq-header
      h2 Frequently Asked Questions
    .faq-body#faq-accordian
      .faq-child
        h3#tab1.tab.accordian(aria-controls='panel1' role='tab' tabindex='0')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatem, neque quibusdam delectus! Soluta in illo rem tempore?
        .panel.accordian#panel1(aria-labeledby='tab1' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, ipsam, aperiam nobis illo voluptate dicta laborum eveniet a, magnam nulla minima laudantium sed unde facere, odit sit delectus! In, nisi.
      .faq-child
        h3#tab2.tab.accordian(aria-controls='panel2' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum?
        .panel.accordian#panel2(aria-labeledby='tab2' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!
      .faq-child
        h3#tab3.tab.accordian(aria-controls='panel3' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat architecto laborum?
        .panel.accordian#panel3(aria-labeledby='tab3' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!

      .faq-child
        h3#tab3.tab.accordian(aria-controls='panel3' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia, inventore quam, illum, ?
        .panel.accordian#panel3(aria-labeledby='tab3' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!

      .faq-child
        h3#tab3.tab.accordian(aria-controls='panel3' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia, inventore quam, illum, ?
        .panel.accordian#panel3(aria-labeledby='tab3' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!

      .faq-child
        h3#tab3.tab.accordian(aria-controls='panel3' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia, inventore quam, illum, ?
        .panel.accordian#panel3(aria-labeledby='tab3' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!

      .faq-child
        h3#tab3.tab.accordian(aria-controls='panel3' role='tab' tabindex='-1') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia, inventore quam, illum, ?
        .panel.accordian#panel3(aria-labeledby='tab3' role='tabpanel')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus facere ducimus quam voluptate rem officia quisquam, beatae totam, voluptas. Ad itaque at tenetur animi ab earum cumque numquam est laudantium!
