
<section class="game">
  <article id="game">
    <!-- <div class="game-intro">
      <p>{{site.data.settings.description}}</p>
    </div> -->
    <div class="game-title">
      <h2>{{ site.data.settings.game-title }}</h2>
    </div>
    <div class="game-cards">
      <div class="game-step"><i class="icon-users"></i>
        <div class="subheading">
          <h3>{{ site.data.settings.step1-title }}</h3>
        </div>
        <p> {{ site.data.settings.step1-copy }}</p>
      </div>
      <div class="game-step"><i class="icon-clock"></i>
        <div class="subheading">
          <h3>{{ site.data.settings.step2-title }}</h3>
        </div>
        <p> {{ site.data.settings.step2-copy}}</p>
      </div>
      <div class="game-step"><i class="icon-bulb"></i>
        <div class="subheading">
          <h3>{{ site.data.settings.step3-title }}</h3>
        </div>
        <p>{{ site.data.settings.step3-copy}}</p>
      </div>
      <div class="game-step"><i class="icon-earth"></i>
        <div class="subheading">
          <h3>{{ site.data.settings.step4-title }}</h3>
        </div>
        <p> {{ site.data.settings.step4-copy}}</p>
      </div>
    </div>
  </article>
</section>