
<section class="game">
  <article id="game">
    <div class="game-title">
      <h2>The game</h2>
    </div>
    <div class="game-cards">
      <div class="game-step"><i class="icon-users"></i>
        <div class="subheading">
          <h3>Work Together in a team</h3>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure dolorem consequuntur, impedit enim</p>
      </div>
      <div class="game-step"><i class="icon-clock"></i>
        <div class="subheading">
          <h3>Beat the clock</h3>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure</p>
      </div>
      <div class="game-step"><i class="icon-bulb"></i>
        <div class="subheading">
          <h3>Think outside the box</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure</p>
      </div>
      <div class="game-step"><i class="icon-earth"></i>
        <div class="subheading">
          <h3>first in Adelade</h3>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure</p>
      </div>
    </div>
  </article>
</section>