section(class="game")
  article(id="game")
    .game-title
      h2 {{ site.data.settings.game-title }}
    .game-cards
      .game-step
        <i class="icon-users"></i>
        .subheading
          h3 {{ site.data.settings.step1-title }}
        p  {{ site.data.settings.step1-copy }}
      .game-step
        <i class="icon-clock"></i>
        .subheading
          h3 {{ site.data.settings.step2-title }}
        p  {{ site.data.settings.step2-copy}}
      .game-step
        <i class="icon-bulb"></i>
        .subheading
          h3 {{ site.data.settings.step3-title }}
        p {{ site.data.settings.step3-copy}}
      .game-step
        <i class="icon-earth"></i>
        .subheading
          h3 {{ site.data.settings.step4-title }}
        p  {{ site.data.settings.step4-copy}}