section(class="game")
  article(id="game")
    .game-title
      h2 The game
    .game-cards
      .game-step
        <i class="icon-users"></i>
        .subheading
          h3 Work Together in a team
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure dolorem consequuntur, impedit enim
      .game-step
        <i class="icon-clock"></i>
        .subheading
          h3 Beat the clock
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure
      .game-step
        <i class="icon-bulb"></i>
        .subheading
          h3 Think outside the box
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure
      .game-step
        <i class="icon-earth"></i>
        .subheading
          h3 first in Adelade
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe, nemo iure