
<div id="top" class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Escape Room SA is Adelaide's latest independent real-life escape game, offering exciting rooms with unique themes to give fans of exit and escape games a fun new adventure. Players will be locked in a room and must hunt and search for clues to discover a way out. Rate us on Tripadvisor </h1>
      <h2 id="subscribe"><span></span>Can you <span>escape?</span></h2>
      <!-- <h1>{{site.data.settings.tagline}}</h1> -->
      <!-- <a href="{{ site.data.settings.menu[4].url }}">Book now</a> -->
    </div>
  </div>
  <div class="quick-sign-up-bar">
    <form action="/signup">
      <div class="InputAddOn">
        <input class="InputAddOn-field" placeholder="Your email">
        <button class="InputAddOn-item">Subscribe</button>
      </div>
    </form>
    <p>We are opening soon, subscribe for updates and opening discounts.</p>
  </div>
</div>