<section class="perfectFor">
  <article id="perfectFor">
    <div class="perfectFor-title">
      <h2>Who's it for?</h2>
      <div class="divider"></div>
    </div>
    <div class="perfectFor-cards">
      <div class="perfectFor-step">
        <i class="icon-slideshare"></i>
        <div class="subheading">
          <h3>Friends & Family</h3>
        </div>
        <p>Looking for something new to do? Break the norm, turn off the TV and have a great time with your family and friends.</p>
      </div>
      <div class="perfectFor-step"><i class="icon-globe"></i>
        <div class="subheading">
          <h3>Tourists & Travellers</h3>
        </div>
        <p>Adelaide has some pretty cool things to do but if you're looking for something a bit different and upbeat, then come try out our challenge.</p>
      </div>
      <div class="perfectFor-step"><i class="icon-users2"></i>
        <div class="subheading">
          <h3>Team Building</h3>
        </div>
        <p>Team building activities don't have to be boring. Our rooms require teamwork and active problem solving in a fun, immersive setting.</p>
      </div>
      <div class="perfectFor-step"><i class="icon-heart-outlined"></i>
        <div class="subheading">
          <h3>Fun Dates</h3>
        </div>
        <p>Want an unforgettable date? You could be responsible for pretty much the coolest date. Ever :)</p>
      </div>
    </div>
  </article>
</section>