section(class="room-section")
  article(id="room")
  .room-title
    h2 The Rooms
  .room
    .room-img.first
      img(src="http://lorempixel.com/600/480/animals")
    .copy-wrap.second
      .room-header
        h3 Missing Lili
      .room-copy
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, cupiditate. Quibusdam, deserunt blanditiis velit in reprehenderit ipsa iure ea perspiciatis possimus, voluptates beatae minus nesciunt, earum autem maxime! Quam, fugit.
      .room-cta
        p Can you escape?
        a(href='#book') Book now

    .room-img.third
      img(src="http://lorempixel.com/600/480/business")
    .copy-wrap.fourth
      .room-header
        h3 Davinci Code
      .room-copy
        p This should be the 4th item Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, cupiditate. Quibusdam, deserunt blanditiis velit in reprehenderit ipsa iure ea perspiciatis possimus, voluptates beatae minus nesciunt, earum autem maxime! Quam, fugit.
      .room-cta
        p Can you escape?
        a(href='#book') Book now
