
<h1>CSS FlexBox Practical Examples</h1>
<div class="example">
  <h2>3 column layout</h2>
  <div class="example-page example-layout">
    <header>header</header>
    <div class="body">
      <div class="col-1">Main Content</div>
      <div class="col-2">Navigation</div>
      <div class="col-3">Sidebar</div>
    </div>
    <footer>footer</footer>
  </div>
</div>
<div class="example">
  <h2>Media Object</h2>
  <div class="example-page example-media">
    <div class="media"><img src="http://fillmurray.com/50/50"/>
      <div class="content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptatum, quasi maiores architecto pariatur inventore iure obcaecati facilis.</div>
    </div>
    <hr/>
    <div class="search-group">
      <input type="text" placeholder="Search"/>
      <input type="submit"/>
    </div>
  </div>
</div>