h1 CSS FlexBox Practical Examples

.example
  h2 3 column layout

  .example-page.example-layout

    header header
    .body
      .col-1 Main Content
      .col-2 Navigation
      .col-3 Sidebar


    footer footer



.example
  h2 Media Object

  .example-page.example-media

    .media
      img(src="http://fillmurray.com/50/50")
      .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos voluptatum, quasi maiores architecto pariatur inventore iure obcaecati facilis.

    hr

    .search-group
      input(type="text" placeholder="Search")
      input(type="submit")