<section  class="what">
  <div id="what" class="what-title">
    <h1>What is Escape Room Sa?</h1>
  </div>
  <div class="divider"></div>
  <div class="what-content">
    <p>At Escape Room SA, we are creating a space for you and your friends to experience the new global phenomenon of live escape games. The idea is that you will be led into a themed room with an exciting back story. You will be locked in and must search for clues and solve puzzles in order to escape before the time runs out. It will be the most fun you'll ever have locked up in a room with friends.</p>
  </div>
</section>