<section class="whyWhereWhen">
  <article id="whyWhereWhen">
    <div class="whyWhereWhen-cards">
      <div class="whyWhereWhen-step">
        <i class="icon-question"></i>
        <div class="subheading">
          <h3>Why Escape?</h3>
        </div>
        <p>If you enjoy solving puzzles and want to do something different with your mates, this game is for you.</p>
      </div>
      <div class="whyWhereWhen-step"><i class="icon-map-marker"></i>
        <div class="subheading">
          <h3>Where?</h3>
        </div>
        <p>The location is still a secret but we can tell you that it is in the heart of Adelaide City.</p>
      </div>
      <div class="whyWhereWhen-step"><i class="icon-calendar-o"></i>
        <div class="subheading">
          <h3>When?</h3>
        </div>
        <p>We are opening soon, <a href="#subscribe">subscribe</a> for updates and opening discounts.</p>
      </div>
    </div>
  </article>
</section>