.faq
  .faq-header
    h2
      @extend %h2-header
      margin: 0.75em auto 1.5em
      padding: 0 0.5em
      text-align: center
  .faq-body
    width: 100%
    margin: 0 auto
    +MQ(SM)
      width: 450px
    +MQ(M)
      width: 800px
      @media only screen and (orientation: portrait)
        width: 600px
    .faq-child
      @media only screen and (max-width: 320px)
        width: 90%
        margin: 0 auto 10px
      background: #3B3B3B
      margin-bottom: 10px
      @extend %no-select
      .tab
        padding: 1em
        margin: 0
        position: relative
        cursor: pointer
        outline: 0
        cursor: default

        &:hover
          color: $primary-color
          +transition(all 0.3s ease)

      .tab:after
        color: $primary-color
        content: '▼'
        // the position is key to make sure that the after pointer stay at the top corner. note that the this is relative to the element with .tab class
        position: absolute
        top: 0
        right: 0
        display: block
        font-size: 1em
        padding: 0.5em

      .tab.active
        color: $primary-color

      .tab.active:after
        color: $primary-color
        content: '▲'

      .panel
        // lesson: can't transition display: none use max-height:0 as an alternative with opacity for nice animation.
        max-height: 0
        opacity: 0
        border-top: 1px solid $primary-color

      .panel.active
        opacity: 1
        max-height: 100%
        display: block
        +transition(all 0.5s ease)
        p
          padding: 1em



