.hero
  $hero-background-top: $light-gray
  $hero-background-bottom: $bg-color
  $hero-color: white
  $gradient-angle: 0deg
  $hero-image: "../img/hero3.jpg"
  +background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll)
  background-color: #324766
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 3em
  .hero-logo img
    height: 4em
    margin-bottom: 1em
  .hero-inner
    // +display(flex)
    +clearfix
    color: $hero-color
    margin: auto
    padding: 5em 3.5em 3.5em
    +MQ(M)
      padding: 10em 3.5em 3.5em
    text-align: center
    .hero-copy
      text-align: center
      h1
        display: none
      h2
        @extend %h1-header
        margin-bottom: 2em
        span
          color: $primary-color
        +MQ(M)
          font-size: 3em
    a
      @extend %cta-button
  #mc_embed_signup_scroll
    +display(flex)
    +flex-direction(column)
    width: 250px
    margin: 0 auto
    +MQ(M)
      +flex-direction(row)
      width: 450px
    .mc-field-group
      +flex(3)
      margin: 0
      input
        background-color: rgba(0,0,0,0.4)
        border-radius: 0px
      +MQ(M)
        font-size: 1em
    #mc-embedded-subscribe
      border-radius: .25em
      background: $primary-color
      color: white
      pointer:auto
      &:hover
        background: white
        color: red
        +transition(all 0.25s ease-in-out)
      text-transform: uppercase
      border-radius: 0 2px 2px 0
      border: 1px solid rgba(147, 128, 108, 0.25)
      padding: 0.5em .75em
      margin: 0 auto
      +MQ(M)
        font-size: 1em
  .email-name
    +flex(2)
    input
      border-radius: 2px 0 0 2px
      background-color: rgba(0,0,0,0.4)
  .emailForm-messages
    margin: 1em auto
    max-width: 300px
    +MQ(M)
      max-width: 350px
    p
      font:
        size: 1em
        weight: 300
      color: $text-color
      border-radius: .25em
      text-align: center
      +font-smoothing
      opacity: 0
      max-height: 0em
      margin: 0

    .error
      padding: 0.5em
      max-height: 100%
      opacity: 1
      background: shade($primary-color, 20%)
      +transition(all 0.3s ease)

    .success
      padding: 0.5em
      max-height: 100%
      opacity: 1
      background: tint(green, 20%)
      +transition(all 0.3s ease)
  .announcement
    text-align: center
    color: $text-color
    margin: 1em 1em 0 1em