.hero
  $hero-background-top: #7f99be
  $hero-background-bottom: #20392b
  $hero-color: white
  $gradient-angle: 10deg
  $hero-image: "../img/hero3.jpg"
  +background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll)
  background-color: #324766
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 3em
  .hero-logo img
    height: 4em
    margin-bottom: 1em
  .hero-inner
    // +display(flex)
    +clearfix
    color: $hero-color
    margin: auto
    padding: 5em 3.5em 3.5em
    +MQ(M)
      padding: 10em 3.5em 3.5em
    text-align: center
    .hero-copy
      text-align: center
      h1
        @extend %h1-header
        span
          color: $primary-color
        +MQ(M)
          font-size: 3em
      p
        font-weight: 300
        line-height: 1.4em
        margin: 0 auto 3em auto
        +MQ(M)
          font-size: 1.1em
          max-width: 40%
    a
      @extend %cta-button
