.room-section
  +display(flex)
  +flex-direction(column)
  background: $bg-color
  color: #f2f2f2
  .room-title
    text-align: center
    h2
      @extend %h2-header
      margin: 0.75em auto 1em
      @media only screen and (orientation: portrait)
        margin-bottom: 1em
    .divider
      height: 1px
      width: 100px
      background-color: $primary-color
      margin: -1em auto 1em auto
  .room
    +display(flex)
    +flex-direction(column)
    margin-top: 2em
    +MQ(M)
      +flex-direction(row)
      +justify-content(space-between)
      +flex-wrap(wrap)
      margin-top: 0em
    +MQ(L)
      max-width: 1170px
      margin: 0 auto
    // adjusting the order of the flex items which are the .room-img and copy-wrap
    .first
      max-width: 450px
      +MQ(M)
        +order(-4)
      +MQ(L)
        +order(-4)
    .second
      max-width: 450px
      +MQ(M)
        +order(-3)
      +MQ(L)
        +order(-3)
    .third
      +MQ(M)
        +order(-1)
        // this is to adjust the ipad orientation order to go back to normal
        @media only screen and (orientation: portrait)
          +order(-2)
      +MQ(L)
        +order(-1)
    .fourth
      +MQ(M)
        +order(-2)
        @media only screen and (orientation: portrait)
          +order(-1)
      +MQ(L)
        +order(-2)
    .room-img
      margin: 1.5em auto 1.5em
      max-width: 400px
      +MQ(M)
        margin: 5em auto 3em
        max-width: 485px
        @media only screen and (orientation: portrait)
          margin: 3em auto 0
      +MQ(L)
        max-width: 550px
        margin: 5em auto 3em
    .copy-wrap
      +display(flex)
      +flex-direction(column)
      +MQ(SM)
        width: 400px
        margin: 0 auto
      +MQ(M)
        width: 450px
        margin-top: 5em
        @media only screen and (orientation: portrait)
        padding-left: 1em
        padding-right: 1em
      +MQ(L)
        // margin-right: 3em
        margin-top: 6em
      .room-header
        text-align: center
        padding-left: 1em
        padding-right: 1em
        h3
          font:
            size: 1.5em
            weight: 300
          text-transform: uppercase
      .room-copy
        text-align: center
        padding-left: 1em
        padding-right: 1em
        p
          font:
            size: 1em
          margin-bottom: 1em
          color: #7a7a7a

      .room-cta
        +display(flex)
        +flex-direction(column)
        text-align: center
        margin-bottom: 3em
        padding: 0em 1em
        p
          color: $primary-color
          font:
            style: italic
            size: 1.3em
            weight: 300
        a
          width: 140px
          height: 45px
          margin: 0 auto
          @extend %cta-button
