section.booking-step
  h1 Sorry, but we're still working hard to built the room. Subcribe to our newsletter and you'll be the first to know when we're open. The first 100 subscribers will receive 50% discount.