section(class='contact')
  article#contact
    header
      h2 Contact Us
    .contact--map#map-canvas(data-lat="-34.928474" data-lng="138.599810")
    .contact--mobilemap
      img(src="http://maps.googleapis.com/maps/api/staticmap?center=adelaide&zoom=13&scale=false&size=300x350&maptype=roadmap&format=png&visual_refresh=true&markers=size:small%7Ccolor:red%7Clabel:1%7Cadelaide" alt="Google Map of adelaide")
    .contact--body
      .contact--body--address-social
        .map--address
          a.icon-map-marker(href="https://www.google.com/maps/dir//adelaide/" target="_blank") Adelaide SA 5000
          a.icon-phone(href="tel:0938021039") 0938 021 039
          a.icon-envelope-o(href="#form") escaperoomsa@gmail.com
        .map--cta--button
          a(href="https://www.google.com/maps/dir//adelaide/" target="_blank") Tap here to lauch map with direction
        //- can't use .social class for some reason because of adblock
        .icon--wrap
          h3 Follow us
          .icons
            li
              a.icon-facebook(href="#" target="_blank")
            li.fb
              a.icon-twitter(href="#" target="_blank")
            li.tw
              a.icon-google-plus(href="#" target="_blank")
            li.ig
              a.icon-instagram(href="#" target="_blank")
            li.yt
              a.icon-youtube(href="#" target="_blank")

      form.form(novalidate)
        fieldset#form
          legend Send us a message
          .form-messages
            p
          .name--input--wrap
            label(for="name") Name
            input(type="text" name="name" id="name" placeholder="Your name" tabindex=1 required)
            i.icon-user2
          .email--input--wrap
            label(for="email") Email
            input(type="email" name="email" id="email" placeholder="Your email" tabindex=2 required)
            i.icon-envelope-o
          .message--input--wrap
            label(for="message") Message
            textarea.message(name="textarea" id="message" placeholder="Your message" tabindex=3 required)
            i.icon-pencil-square-o
            input(type="hidden" name="_gotcha" style="display:none")
        div
          input(type="submit" value="Send Message" tabindex=4)
