.hero
  .hero-inner
    .hero-copy
      //- h1 #[span 60] minutes to escape
      h1 {{site.data.settings.taglines}}
      p {{site.data.settings.description}}
      a(href="{{ site.data.settings.menu[4].url }}") Book now