section(class="room-section")
  article(id="room")
    .room-title
      h2 {{ site.data.settings.room-title }}
    .room
      .room-img.first
        img(src="http://lorempixel.com/600/480/animals")
      .copy-wrap.second
        .room-header
          h3 {{ site.data.settings.room1-title }}
        .room-copy
          p {{ site.data.settings.room1-copy }}
        .room-cta
          p Can you escape?
          a(href='{{ site.data.settings.menu[4].url }}') Book now

      .room-img.third
        img(src="http://lorempixel.com/600/480/business")
      .copy-wrap.fourth
        .room-header
          h3 {{ site.data.settings.room2-title }}
        .room-copy
          p {{ site.data.settings.room2-copy }}
        .room-cta
          p Can you escape?
          a(href='{{ site.data.settings.menu[4].url }}') Book now
